*{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
	color: white;
}
a{
	text-decoration: none;
	color: white;
}
a:hover{
	text-decoration: underline;
}
.box{
	padding-top:90px;
}
.text_black{
	color: black;
}
.box .guang{
	width: 100%;
	height: 45px;
	line-height: 45px;
	background-color: #28282a;
	color: white;
	font-size: 12px;
	padding-left: 87%;
	position:fixed;
	left: 0px;
	top: 0px;
}
.box .header{
	width: 100%;
	height: 45px;
	background-color: #121212;
	position:fixed;
	left: 0px;
	top: 45px;
}

.box .header .header_ul li{
	width: 6.6%;
	height: 45px;
	float: left;
	color: white;
	text-align: center;
	line-height: 45px;
	font-size: 12px;
}
.box .header ul .header-img{
	line-height: 55px;
}
.box .header ul .header-img img{
	width: 15px;
	height: 17px;
}
.box .kong{
	width: 100px;
	height: 90px;
}
.header_nav{
	width: 100%;
	height: 450px;
	background-color: #161618;
	position:fixed;
	left: 0px;
	top: 89px;
}
 .header_nav1{
	padding-left: 10%;
}
 .header_nav1 ul{
	width: 20%;
	height: 450px;
	float: left;
}
.header_nav1 .nav1_ul li{
	font-size: 22px;
	width: 100%;
	height: 40px;
	line-height: 40px;
}
.header_nav1 ul .fir_li{
	font-size: 12px;
	height: 40px;
	width: 20%;
	line-height:40px ;
	color: #69686d;
}
.header_nav1 .nav1_ul2 li{
	font-size: 12px;
	width: 100%;
	height: 30px;
	line-height: 30px;
}
.box .head_swiper{
	width: 100%;
	height: 100px;
	background-color: #1d1d1f;
}
.head_swi1{
	height: 100px;
	width: 100%;
	padding-top: 30px;
	box-sizing: border-box;
	text-align: center;
}
.head_swi1 span{
	color: white;
	display: block;
	font-size: 14px;
}
.head_swi1 span a{
	font-size: 14px;
	color: blue;
}

.content .content_shou{
	width: 100%;
	height: 600px;
	padding-left: 10%;
	background-color: black;
	box-sizing: border-box;
	position: relative;
}
.content .content_shou img{
	margin-top: 90px;
	width: 90%;
	height: 400px;
}
.content .content_shou h1{
	position: absolute;
	font-size: 30px;
	top: 85px;
	left: 42%;;
	color: #b8b5b0;
}
.content .content_shou>div{
	font-size: 16px;
	width: 70px;
	color: white;
	height: 45px;
	text-align: center;
	line-height: 45px;
	background-color: #0072df;
	border-radius: 20px;
	position: absolute;
	top: 450px;
	left: 47%;
}
.content .content_shou>span{
	position: absolute;
	top: 520px;
	left: 40%;
	font-size: 18px;
	color: white;
	width: 20%;
}
.cont_banner{
	width: 100%;
	height: 1000px;
	background-color: #1d1d1f;
}
.cont_banner .banner_tit{
	width: 100%;
	height: 200px;
	position: relative;
}
.cont_banner .banner_tit .tit_1{
	color: #beb7b1;
	font-weight: bold;
	font-size: 55px;
	position: absolute;
	top: 100px;
	left: 7.5%;
}
.cont_banner .banner_tit .tit_2{
	position: absolute;
	top: 155px;
	right: 7.8%;
}
.cont_banner .banner_tit .tit_2 a{
	color: #0072df;
	font-size: 18px;
}
.cont_banner img{
	width: 85%;
	height: 650px;
	margin-left: 7.5%;
	border-radius: 20px;
}
.banner_img img{
	display: none;
}
.banner_img .img1{
	display: block;
}
.content .content_1{
	width: 100%;
	height: 650px;
}
.content .content_1 img{
	width: 100%;
	height: 650px;
}
.content .content_2 img{
	width: 78%;
	height: 500px;
	margin-left: 11%;
}
.content .content_2{
	background-color: black;
}
.content .content_3{
	background-color: black;
}
.content .content_3 img{
	width: 50%;
	height: 200px;
	margin-left: 11%;
	margin-left: 25%;
}
.content .content_4{
	background-color: black;
}
.content .content_4 img{
	width: 100%;
	height: 540px;
}
.content .content_5 img{
	width: 100%;
	height: 800px;
}
/* .content_5:hover{
	text-replace: scale(1.2);
} */


.content_fangda{margin-top: -10px;
             display: flex;
             width: 100%;
             padding: 4% 2%;
             box-sizing: border-box;
             height: 100vh;
			 background-color: black;
         }
         
     
         .fangda_box{
             flex: 1;
             overflow: hidden;
             transition: 0.5s;
             margin: 0 2%;
             box-shadow: 0 20px 30px rgba(0,0,0,0.1);
             line-height: 0;
         }
     
         .fangda_box > img{
             width: 200%;
             height: calc(100% - 10vh);
             object-fit: cover;
             transition: 0.5s;
         }
     
         .fangda_box > span{
             font-size: 3vh;
             display: block;
             text-align: center;
             height: 10vh;
             line-height: 2.5;
             font-family: tahoma;
             color: white;
             text-transform: uppercase;
         }
         
         
         .fangda_box:hover{
             flex: 1 1 50%;
         }
         
         .fangda_box:hover > img{
             width: 100%;
             height: 100%;
         }
		 
		
.footer{
	width: 100%;
	height: 600px;
	float: left;
	padding-left: 16%;
	padding-right: 16%;
	box-sizing: border-box;
	background-color: #1d1d1f;
}
.footer span{
	font-size: 12px;
	color: #8e8188;
}
.footer a{
	color: darkgray;
}
.footer .footer_xian{
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #8e8188;
}
.footer_cont div{
	width: 20%;
	height: 400px;
	color: #121212;
	background-color: #1d1d1f;
	float: left;
}
.footer_cont li{
	width: 100%;
	height: 28px;
	line-height: 28px;
	font-size: 12px;
	color: white;
	
	
}
.footer__li{
	color: ;
}
.footer_cont li a:hover{
	text-decoration: underline;
}
.footer_last{
	width: 100%;
	height: 80px;
	background-color: pink;
	float: left;
	padding-left: 16%;
	padding-right: 16%;
	box-sizing: border-box;
	background-color: #1d1d1f;
	position: relative;
}
.footer_last ul li{
	float: left;
	margin-left: 15px;
	width: 60px;
	line-height: 15px;
	height: 15px;
	border-right: 1px solid black;
}
.footer_last ul li a{
	font-size: 12px;
	color: white;
}
.footer_last ul li a:hover{
	text-decoration: underline;
}
.footer_last ul{
	position: absolute;
	top: 0px;
	left: 35%;
}
